body {
    background-color: white !important;
    font-size: 1rem;
}

details,
nav,
hr,
div.ratio,
div.carousel,
.print,
meter {
  display: none !important;
}

div,
div.terkoz,
div.urlap,
h1,
h2,
p,
th,
td,
a {
    padding: 0 !important;
    margin: 0 !important;
    color: black !important;
}

h1 {
    font-size: 2.2rem !important;
}

h2 {
    font-size: 1.8rem !important;
}

a::after {
    content: " ("attr(href) ")";
}

div.tile,
div.osszefoglalo,
div.leiras p,
table {
    border: none !important;
    box-shadow: none !important;
}

img,
div,
table,
p {
    border: none !important;
    box-shadow: none !important;
}

p {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

img {
    max-width: 60% !important;
}

input,
textarea {
    border: 1px solid black;
}

select {
    display: none;
}

ul.select-print {
    display: block;
}