@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body {
    background-color: #050A0E !important;
    font-family: "Play", sans-serif !important;
    color: #FAFAFA !important;
    font-weight: 400 !important;
    font-size: 1.1rem !important;
}

div.container-fluid.hatter {
    background-image: url("media/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

i.fa-bars, i.fa-bars:visited {
    color: #050A0E;
}

button.navbar-toggler {
    border: none !important;
}

button.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}

nav.navbar {
    background-color: #FCEE09 !important;
    margin-bottom: 15px;
}

nav ul li a {
    font-size: 1.3rem !important;
    background-color: transparent !important;
    color: #494949 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-left: 5px;
}

nav ul a.active {
    color: #050A0E !important;
    font-weight: 700 !important;
}

nav ul li a:hover {
    color: #050A0E !important;
}

.textsize-icon {
    width: 28px;
}

a:link {
    color: #004570;
}

a:visited {
    color: #004F80;
}

a:hover {
    color: #015d96;
}

div.osszefoglalo ul li a:link {
    color: #FCEE09;
}

div.osszefoglalo ul li a:visited {
    color: #B1A802;
}

div.osszefoglalo ul li a:hover {
    color: #CAC002;
}

h1, h2 {
    font-weight: 700 !important;
    text-align: center;
}

h1 {
    color: #FCEE09 !important;
    font-size: 3.2rem !important;
    margin-top: 20px !important;
    margin-bottom: 0 !important;
}

h2 {
    color: #FAFAFA !important;
    font-size: 2.5rem !important;
    padding-bottom: 30px !important;
}

h2.video {
    margin-top: 60px;
    margin-bottom: 10px;
}

h2.kiscim {
    padding-top: 15px;
    padding-bottom: 5px !important;
    font-size: 1.6rem !important;
}

p.alcim {
    font-size: 1.8rem !important;
    text-align: center;
    margin-bottom: 30px;
}

caption {
    font-size: 1rem;
    color: #FAFAFA !important;
    padding-bottom: 0 !important;
}

a.visually-hidden-focusable,
div.promo a,
div.promo a:link,
div.promo a:visited {
    color: #FAFAFA !important;
}

div.promo {
    padding-bottom: 70px;
}

div.tile,
div.osszefoglalo,
div.leiras p,
table {
    border: 2px solid #FCEE09 !important;
    box-shadow: 0 0 10px #FCEE09;
}

div.tile {
    padding-top: 35px;
    text-align: justify;
}

div.tile img {
    width: 90%;
    display: block;
    margin: 0 auto !important;
    border: 2px solid #00F0FF;
}

div.tile img:hover {
    transition: 0.2s;
    box-shadow: 0 0 10px #00F0FF;
  }

div.tile p {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
}

div.hatter {
    box-shadow: 0 0 10px #FCEE09;
    border-top: 2px solid #FCEE09;
    padding-bottom: 50px;
}

div.ratio, div.kep img, div.carousel {
    border: 2px solid #00F0FF;
    box-shadow: 0 0 10px #00F0FF;
}

div.ratio {
    margin-bottom: 20px;
}

div.osszefoglalo {
    padding: 0px;
}

div.leiras p,
div.osszefoglalo p {
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}

div.osszefoglalo ul {
    list-style-type: square;
    color: #00F0FF;
    padding-top: 15px;
}

div.osszefoglalo ul li {
    font-size: 1.2rem;
    text-align: left;
}

div.leiras p {
    padding-top: 15px;
    padding-bottom: 15px;
}

figure {
    margin-bottom: 0 !important;
}

figcaption {
    font-size: 1rem;
    padding-top: 10px;
}

footer {
    padding-top: 20px;
    margin-top: auto;
    padding-bottom: 0;
    background-color: #FCEE09;
}

footer p {
    font-size: 1rem;
    color: #050A0E;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 20px;
}

hr {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    height: 2px;
    background-color: #FCEE09 !important;
    box-shadow: 0 0 10px #FCEE09;
    opacity: 1 !important; 
}

hr:first-child {
    height: 3px;
}

table.table-responsive {
    overflow: visible !important;
}

table {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

th {
    padding-left: 15px !important;
    width: 40%;
    background-color: transparent !important;
    font-weight: 700;
    color: #FAFAFA !important;
}

td {
    background-color: transparent !important;
    color: #FAFAFA !important;
    text-align: left;
}

meter {
    width: 80%;
    background: transparent;
    border: 1px solid #00F0FF;
}

meter::-webkit-meter-bar {
    height: 17px;
    background: transparent;
}

meter::-webkit-meter-optimum-value {
    background: #00F0FF;
}

meter::-moz-meter-bar {
    background: #00F0FF;
}

div.terkoz {
    margin-top: 50px !important;
}

div.urlap {
    margin-top: 70px !important;
    background-color: #050A0E;
}

div.urlap p {
    font-size: 1rem;
    padding-left: 3px;
}

input, textarea {
    padding: 5px;
    color: #FAFAFA;
    transition: 0.2s;
    background-color: transparent;
    border: 2px solid #00F0FF;
}

input[type="radio"],
input[type="checkbox"] {
    accent-color: #00F0FF;
    margin-right: 5px;
}

input[type="text"]:focus,
textarea:focus {
    outline: 1px solid #FAFAFA;
}

input[type="reset"],
input[type="submit"] {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #FAFAFA;
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 0;
    border: none;
    margin-bottom: 5px;
    background-color: transparent;
}

input[type="reset"] {
    border: 2px solid #FF003C;
}

input[type="submit"] {
    border: 2px solid #2bb801;
}

input[type="reset"]:hover {
    color: #FAFAFA;
    background-color: #FF003C;
}

input[type="submit"]:hover {
    color: #FAFAFA;
    background-color: #2bb801;
}

form fieldset:last-of-type {
    display: flex;
    justify-content: space-between;
}

select {
    background-color: #050A0E;
    color: #FAFAFA;
    border: 2px solid #00F0FF;
    margin-bottom: 20px !important;
}

ul.select-print {
    display: none;
}

input.form_terkoz {
    margin-bottom: 20px !important;
}

div.carousel {
    margin-bottom: 60px;
}